# requirements.txt (Clean Version)

# Django Framework
Django

# Data Handling and Analysis
pandas
numpy

# Visualization
matplotlib
seaborn

# PDF Generation
xhtml2pdf

# Production Web Server
gunicorn

whitenoise
